<div class="container">
  <div class="row mt-5">
    <div class="col-4">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <div (click)="showSection(node.name)" style="cursor: pointer">
            {{node.name}}
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="col-8">
      <div *ngIf="nodeValue===ADD_USER">
        <form [formGroup]="newUserForm">
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>login</mat-label>
              <input matInput class="search-field" formControlName="userLogin"/>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>hasło</mat-label>
              <input matInput class="search-field" formControlName="userPassword"/>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>limit</mat-label>
              <input matInput class="search-field" formControlName="userLimit"/>
            </mat-form-field>
          </div>
          <div class="row">
            <button mat-stroked-button color="primary" (click)="createUser()">Utwórz</button>
          </div>
        </form>
      </div>
      <div class="col-3">
        <form [formGroup]="userForm" *ngIf="nodeValue===SHOW_USERS && showUserDetails">
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>login</mat-label>
              <input matInput class="search-field" formControlName="userLogin" readonly/>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>hasło</mat-label>
              <input matInput class="search-field" formControlName="userPassword"/>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>rola</mat-label>
              <input matInput class="search-field" formControlName="userRole" readonly/>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>limit</mat-label>
              <input matInput class="search-field" formControlName="userLimit"/>
            </mat-form-field>
          </div>
          <div class="row">
            <button mat-stroked-button color="primary" (click)="updateUser()">Aktualizuj</button>
            <button mat-stroked-button color="primary" (click)="deleteUser()">Usuń</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <div *ngIf="nodeValue===SHOW_USERS">
        <table mat-table [dataSource]="sortedUsers" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">
          <ng-container matColumnDef={{id}}>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{id}} </th>
            <td mat-cell *matCellDef="let user" style="cursor: pointer" (click)="getUsersDetail(user)">{{user.id}}</td>
          </ng-container>
          <ng-container matColumnDef={{login}}>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{login}} </th>
            <td mat-cell *matCellDef="let user" style="cursor: pointer" (click)="getUsersDetail(user)">{{user.login}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
    <div class="col-9">
      <mat-accordion *ngIf="nodeValue==SHOW_USERS && showUserDetails">
        <mat-expansion-panel *ngFor="let userBook of userBooks">
          <mat-expansion-panel-header>
            <mat-panel-title>{{userBook.author}}</mat-panel-title>
            <mat-panel-description>{{userBook.title}}</mat-panel-description>
          </mat-expansion-panel-header>
          <p><b>id: </b>{{userBook.id}}</p>
          <p><b>Rok wydania: </b>{{userBook.year}}</p>
          <p><b>Gatunek: </b>{{userBook.genre}}</p>
          <p><b>Ilość: </b>{{userBook.amount}}</p>
          <button mat-stroked-button color="primary" (click)="returnBook(userBook)">Zwróć książkę</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
