<mat-card class="container mt-2" *ngFor="let book of books" >
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{book.author}}</mat-card-title>
          <mat-card-subtitle>{{book.title}}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="row">
        <mat-card-content>
          <p>{{book.description}}</p>
          <p><b>Gatunek:</b> {{book.genre}}</p>
          <p><b>Rok wydania:</b> {{book.year}}</p>
        </mat-card-content>
      </div>
    </div>
    <div class="col-sm-3">
      <img mat-card-image src="{{book.imageUrl}}"  class="w-75 mt-2 mr-2 float-right" >
    </div>
  </div>
</mat-card>
