<div class="container">
  <div class="row" *ngIf="messageSuccess">
    <div class="alert alert-success" role="alert">{{messageSuccess}}</div>
  </div>
  <div class="row" *ngIf="messageError">
    <div class="alert alert-primary" role="alert">{{messageError}}</div>
  </div>
  <div class="row" *ngIf="isSending">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <div class="row" *ngIf="!messageSent && !isSending">
    <form [formGroup]="mailForm">
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Nadawca</mat-label>
          <input matInput class="search-field" formControlName="mailFrom"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Temat</mat-label>
          <input matInput class="search-field" formControlName="mailSubject"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Treść</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            class="search-field" formControlName="mailContent"></textarea>
        </mat-form-field>
      </div>
      <div class="row mt-3">
        <div>
          <button mat-stroked-button color="primary" (click)="sendMail()">Wyślij</button>
        </div>
      </div>
    </form>
  </div>
</div>
