<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col"><h1>Nasza misja</h1></div>
        <div class="col">
          <button mat-stroked-button color="primary" class="mt-2 float-right" (click)="sendMail()">Napisz do nas</button>
        </div>
      </div>
      Rozwijanie i zaspokajanie potrzeb czytelniczych mieszkańców dzielnicy Śródmieście i Miasta Stołecznego Warszawy
      oraz upowszechnianie wiedzy i rozwoju kultury.
      Zapewnienie Czytelnikom dostępu do wszelkiego rodzaju informacji.
      Stwarzanie warunków i umacnianie nawyków czytelniczych wśród dzieci od lat najmłodszych.
      Otaczanie szczególną troską użytkowników niepełnosprawnych oraz tych, którzy znajdują się w trudnej sytuacji
      społecznej.
      Tworzenie przyjaznej biblioteki i spełnianie oczekiwań wszystkich jej użytkowników.
      Życzliwe traktowanie wszystkich tych, którzy chcą skorzystać z oferty biblioteki.
      Udział w budowaniu społeczeństwa obywatelskiego i dbanie o zachowanie tożsamości kulturowych.
      Dbanie o stały rozwój zatrudnionych w bibliotece pracowników, dążenie do doskonalenia środowiska zawodowego oraz
      wspieranie koleżanek i kolegów, zwłaszcza podwładnych w rozwijaniu kompetencji zawodowych.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="image1"></div>
    </div>
    <div class="col">
      <div class="image2"></div>
    </div>
  </div>
</div>
