<div class="container">
  <div class="row">
    <div class="col">
      <h1>Nasza misja</h1>
      Rozwijanie i zaspokajanie potrzeb czytelniczych mieszkańców dzielnicy Śródmieście i Miasta Stołecznego Warszawy
      oraz upowszechnianie wiedzy i rozwoju kultury.
      Zapewnienie Czytelnikom dostępu do wszelkiego rodzaju informacji.
      Stwarzanie warunków i umacnianie nawyków czytelniczych wśród dzieci od lat najmłodszych.
      Otaczanie szczególną troską użytkowników niepełnosprawnych oraz tych, którzy znajdują się w trudnej sytuacji
      społecznej.
      Tworzenie przyjaznej biblioteki i spełnianie oczekiwań wszystkich jej użytkowników.
      Życzliwe traktowanie wszystkich tych, którzy chcą skorzystać z oferty biblioteki.
      Udział w budowaniu społeczeństwa obywatelskiego i dbanie o zachowanie tożsamości kulturowych.
      Dbanie o stały rozwój zatrudnionych w bibliotece pracowników, dążenie do doskonalenia środowiska zawodowego oraz
      wspieranie koleżanek i kolegów, zwłaszcza podwładnych w rozwijaniu kompetencji zawodowych.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="image1"></div>
    </div>
    <div class="col">
      <div class="image2"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Napisz do nas</mat-panel-title>
              <mat-panel-description>examples123.dk@gmail.com</mat-panel-description>
            </mat-expansion-panel-header>
            <form #mailForm="ngForm">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Imię</mat-label>
                  <input matInput class="search-field" id="name" [(ngModel)]="name" name="name"/>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Nazwisko</mat-label>
                  <input matInput class="search-field" id="surname" [(ngModel)]="surname" name="surname"/>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Temat</mat-label>
                  <input matInput class="search-field" id="subject" [(ngModel)]="subject" name="subject"/>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Wiadomość</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            id="msg" [(ngModel)]="msg" name="msg"></textarea>
                </mat-form-field>
                <hr/>
              </div>
            </form>
            <button mat-stroked-button color="primary" (click)="onMail()">Wyślij</button>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <mat-toolbar>ul.Długa 12 | 30-834 | Kraków | +48(12)6589155</mat-toolbar>
    </div>
  </div>
</div>
